.inputComponent{
    display: flex;
    gap: 0.5rem;
    align-items: center;
}
.input {
    padding: 0.3rem 0.8rem;
    border-radius: 5px;
    font-size: 1rem;
}
input.error {
    border: 3px solid red;
}
input:focus.error {
    outline-color: red;
}
