.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 0.8rem;
    width: 30%;
    height: 300px;
    max-height: 40%;
    background-color: #2f2f31;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 0 15px 0 #810CA8;
}

.field {
    font-size: 2rem;
    color: #FFFFFF;
    flex-basis: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}

.field input {
    font-size: 1.3rem;
}

.error {
    border: 3px solid red;
}

input:focus.error {
    outline-color: red;
}