.btn {
    padding: 0.5rem 1rem;
    font-size: 2rem;
    border: none;
    border-radius: 5px;
}
.btn:active {
    box-shadow: 1px 1px 1px 1px black;
}
.btn:disabled {
    background-color: #525256;
    opacity: 0.5;
    box-shadow: none;
}
.default {
    background-color: inherit;    
}
.primary {
    background-color: violet;
}
.secondary {
    background-color: rgb(17, 17, 17);
    color: #FFFFFF
}