.container {
  background-color: #646060;
  border-radius: 5px;
  height: 100%;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.value {
  font-size: 5rem;
  margin: 0;
}
.message {
  font-size: 1.2rem;
}
.noLimit {
  background-color: #ee5d5d;
  color: #3b3838;
}
