.container {
    width: 90%;
    border-radius: 5px;
    text-align: center;
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.value {
    font-size: 6rem;
    margin: 0;
}
.message {
    font-size: 2rem;
}
.onLimit {
    color: #E5B8F4;
    background-color: #646060;
}
.noLimit {
    background-color: #ee5d5d;
    color: #3b3838;
}
